
@{
    ViewBag.Title = "DisplayPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <div class="header">
        <h2>Posted Advertisements</h2>
    </div>

    <!--<div class="card" style="background-color:green;padding:25px;">
        <h2>-->
    @* title*@
    <!--</h2>
    <h5>-->
    @*date*@
    <!--</h5>
    <h3>-->
    @*Quantity*@
    <!--</h3>
    <h3>-->
    @*location*@
    <!--</h3>
    <h1>-->
    @*description*@
    <!--</h1>
    </div>-->
    <!--<div>
        <h1>-->
    @* title*@
    <!--</h1>
    <h5>-->
    @*date*@
    <!--</h5>
    <h3>-->
    @* Quantity*@
    <!--</h3>
    <h3>-->
    @* location*@
    <!--</h3>
    <h2>-->
    @* description*@
    <!--</h2>
    </div>-->
</body>

<style>
    * {
        box-sizing: border-box;
    }

    body {
        font-family: Arial;
        padding: 20px;
        background: #f1f1f1;
    }

    .header {
        padding: 30px;
        font-size: 40px;
        text-align: center;
        background: white;
    }
</style>


@foreach (var p in Model)
{
    <div id="mainDiv">
        <div id="div1" style="background-color: #DAD7D7;
        padding: 25px;">
            @*<img src="https://ibb.co/y0nWdP5" alt=""><br>*@
            <img src="https://i.ibb.co/nrsz6mf/land.jpg" alt="land" border="0">
            @* <h1 style="text-align:center;">@p.title</h1>
                <h5 style="float:right; padding-right:10px">@p.date</h5>
                <h4>@p.quantity</h4>
                <h4>@p.location</h4>
                <h2>@p.description</h2>
                <brrrrrrrrrrrrr />*@
            <h2 style="text-align:center;">@p.title</h2>
            <h4> <b><i>Plot Area:</i></b> @p.quantity</h4>
            <h4><b><i>Location:</i></b> @p.location</h4>
            <h2>@p.description</h2>
            <h5 style="float:right; padding-right:10px"><b><i>Posted on</i></b> @p.date</h5>
            <br /><br /><br />
            <a href="" class="buy">Bid Price</a>
        </div>
    </div>
}


<style>
    #mainDiv {
        margin: 10px;
        padding: 10px;
        margin-left: 230px;
    }

    #div1 {
        padding: 20px;
        background-color: lightgray;
        border-radius: 10px;
        margin-right: 220px;
    }

    .img {
        margin-left: 50px;
        height: 30px;
        width: 30px;
        border-radius: 100px;
    }

    .buy {
        background-color: dodgerblue;
        color: white;
        padding: 1em 1.5em;
        text-decoration: none;
        text-transform: uppercase;
        margin-left: 260px;
    }
</style>
